[submodule "repos/pgx"]
	path = repos/pgx
	url = git@github.com:sotetsuk/pgx.git
[submodule "repos/gigastep"]
	path = repos/gigastep
	url = git@github.com:mlech26l/gigastep.git
[submodule "repos/awesome-rl-envs"]
	path = repos/awesome-rl-envs
	url = git@github.com:clvrai/awesome-rl-envs.git
[submodule "repos/gymnax"]
	path = repos/gymnax
	url = git@github.com:RobertTLange/gymnax.git
[submodule "repos/brax"]
	path = repos/brax
	url = git@github.com:google/brax.git
[submodule "repos/jumanji"]
	path = repos/jumanji
	url = git@github.com:instadeepai/jumanji.git
[submodule "repos/neuralmmo"]
	path = repos/neuralmmo
	url = git@github.com:NeuralMMO/environment.git
